@font-face {
	font-family: 'stealth57';
	src: url('fonts/stealth57.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

/* Basic resets */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Arial', sans-serif; /* Use a standard font for the rest of the page */
	background-color: #1A1A1A;
	color: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 100vh;
}

h1 {
	font-family: 'stealth57', sans-serif; /* Set the title to use stealth57 */
	font-size: 3rem;
	font-weight: bold;
	color: #fff;
}

.youtube-embed {
	width: 100%;
	height: 500px;
	margin-bottom: 20px;
}

.container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	padding: 20px;
}

.content {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}

.product-image {
	width: 45%;
	max-width: 500px;
	height: auto;
	order: 2; /* Set to display second */
}

.text-section {
	width: 45%;
	max-width: 500px;
	color: #ff7aa0;
	text-align: left;
	order: 1; /* Set to display first */
}

p {
	font-size: 1.2rem;
	color: #ff7aa0;
	margin-top: 20px;
}

/* Responsive behavior */
@media (max-width: 768px) {
	.content {
		flex-direction: column;
		align-items: center;
	}

	.product-image, .text-section {
		width: 100%;
		max-width: none;
		text-align: center;
	}

	h1 {
		font-size: 2.5rem;
	}
	
	p {
		font-size: 1rem;
	}
}
