/* Align title and price button */
.main {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;

    .header {
        ...
        ...
        ...


    }

    .hero {
        ...
        ...
        ...

        .text {
            ...
            ...
            ...
        }
    }

    .solial-buttons {
        ...
        ...
        ...
    }
}