.versions {
	padding: 2rem 1rem;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
}

.versions__title {
	font-size: 2rem;
	margin-bottom: 0;
	color: var(--text-primary);
	font-family: "stealth57", sans-serif;
}

.versions__warning {
	font-size: 1.25rem;
	font-weight: 300;
	margin-bottom: 0.5rem;
}

.versions__subnote {
	color: var(--text-secondary);
	font-size: 1rem;
	margin-bottom: 2rem;
}

.versions__cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 2.5rem;
	width: 100%;
	max-width: 960px;
}

.version-card {
	background-color: #203c3b06;
	border-radius: 8px;
	padding: 1.5rem;
	flex: 1 1 300px;
	display: flex;
	flex-direction: column;
	align-items: center;
	box-shadow: 0 0px 3px rgba(235, 235, 235, 0.2);
	width: 100%;
	max-width: 350px;
}

.version-card__image img {
	width: 100%;
	height: auto;
	border-radius: 4px;
}

.version-card__name {
	margin-top: 0.5rem;
	margin-bottom: 1.5rem;
	padding-bottom: 0.5rem;
	font-family: "stealth57";
	font-size: 1.25rem;
	color: var(--text-secondary);
	/* border-bottom: 1px solid #374151; */
	width: 100%;
	text-align: center;
}

.version-card .btn {
    margin-top: 2em;
    margin-bottom: 2em;
}

.text-glow--yellow-subtle {
	color: var(--text-dark);
	text-shadow:
		0 0 1px var(--neonYellow),
		0 0 2px var(--neonYellow),
		0 0 4px var(--neonYellow);
}
